body {
    margin: 0;
    padding: 0;
    background-color:rgb(187, 196, 196);
    font-family: Arial, sans-serif;
}

.cabezera {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    right: 50%;
}

h1 {
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px #000;
box-shadow: 0 0 10px #000;
}
.img{
    right: 50%;
    display: flex;
    justify-content: space-around;
    
}
.text{
    display: flex;
    flex-direction: column;
align-items: center;
}

.section {
    margin-bottom: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px #000;
box-shadow: 0 0 10px 000;
}

.section h2 {
    font-size: 1.2em;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
}

.section p {
    margin: 0;
}